<html>
<head>
  <title>Title of the document</title>
</head>

<body>
  <h1>APJ UNIVERSITY</h1>
  <p style="color">The Dr. A. P. J. Abdul Kalam University is located at lush green area on the new Indore – Dewas bypass road. It is about 10 km away from Indore railway station. It has a large campus and one of the best infrastructures in state. All the department heads and faculty members are highly experienced & work with zeal to impart education and achieve the goal of providing excellent career and values to the students so as to become responsible citizen.

    The Society (Ayushmati Education and Social Society ) was established in 2004 under the flagship of Central India Institute of Technology ever since its inception, a strong commitment to excellence in teaching and research has made the group a role-model and path-setter for other institution. Its rich academic tradition has always attracted the most talented students who later plays an important contributions to their society.
    
    Read More+</p>

</body>
<form action="/" method="post">
    <label for="height">height</label>
    <input type="number" name="height" placeholder="enter your height">
    <input type="submit">
     <form>
        <h1> entered right value is <h1>
</html>
